<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
             {{>navbar}}

              <section class="main_body">
                  <div class="container">
                        <div class="row">


                            <div class="col-12 col-xl-6 righ_part">
                                 <figure><img class="img-fluid" src="images/myself.png " alt="myself"></figure>
                                
                                </div>



                            <div class="col-12 col-xl-6 left_part">
                                <h1>Welcome to our site</h1>
                                   <p>Hello, there i'm Labbaek a <span>JavaScript</span></span> Developer & Freelancer. <br>
                                    Thank you for Visiting us.
                                 </p>
                                <a class="btn" href="https://github.com/labbaekratul " target="blank">Check</a>
                            </div>

                         
              
                        </div>

                     
                  </div>
              </section>

                {{>footer}}
            
    


</body>
</html>