<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
             {{>navbar}}

              <section class="main_body">
                  
                        
                             <div class="container">
                              <div class="row ">
                                <div class="col-md-12 col-12 mx-auto text-center  ">
                            <div class="d-flex justify-content-center align-items-center flex-column">
                                 <figure class="error_page"><img class="img-fluid align-items-center" src="images/404.png " alt="ERROR"></figure>

                                 <p>Welcome to our site</p>
                                 <h1 class="mb-0">{{errorMsg}}</h1>
                                 <a class="btn mt-2" href="/">Home</a>
                                
                                </div>

                                </div>
                                 
                                 </div>
                               </div>

                          

                         
              
                     
                     
                  </div>
              </section>

                {{>footer}}
            
    


</body>
</html>